<div class="container">
  <div class="jumbotron">
    <h1>Blocipedia</h1>
    <p>the world's leading source of useful knowledge</p>

    <p>
      <% if current_user %>
        <%= link_to "View All Wikis", wikis_path, class: 'btn btn-info' %>
        <%= link_to "Create Wiki", new_wiki_path, class: 'btn btn-success' %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %> or
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
      <% end %>
    </p>
  </div>
</div>
