<h1>All Wikis</h1>
<div>
  <%= link_to "Create Wiki", new_wiki_path, class: 'btn btn-success' %>
</div>
<div class="row top-buffer">
  <div class="col-md-8">
    <% @wikis.each do |wiki| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to wiki.title, wiki_path(wiki.id)%>
          </h4>
        </div>
      </div>
    <% end %>
  </div>

</div>
